{% extends "admin/base.html" %} {% block content %}
<div class="space-y-8">
  <h2 class="text-2xl font-medium mb-4">Image</h2>
  <div class="overflow-hidden bg-white shadow sm:rounded-lg">

    <div class="px-4 py-5 sm:px-6">
      {% include 'admin/alerts.html' %}

      <div class="flex justify-between items-center">
        <div>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Event: {{ image.event }}
          </p>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl
        class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 lg:grid-cols-3"
      >
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">ID</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.id }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">UUID</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.uuid }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">MD5</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.md5sum }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Virtance</dt>
          <dd class="mt-1 text-sm text-gray-900">
            {% if image.source.is_deleted == False %}
              <a 
                class="text-blue-600 hover:text-blue-900" 
                href="{% url 'admin_virtance_data' image.source.id %}"
                >{{ image.source.name }}</a
              >
            {% else %}
              {{ image.source.name }}
            {% endif %}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Name</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.name }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Type</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.type }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">File Size</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.file_size|filesizeformat }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Disk Size</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.disk_size|filesizeformat }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Distro</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.description }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">File Name</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.file_name }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Created</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ image.created }}</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
{% endblock %}
