{% extends "admin/base.html" %}

{% load render_table from django_tables2 %}

{% block content %}
<div class="space-y-4">
  <a href="{% url 'admin_user_index' %}"
    class="inline-flex items-center text-sm p-2 bg-muted rounded-md space-x-2"><svg
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-5 h-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
    </svg>
    <span>Back to the list</span>
  </a>

  {% include 'admin/alerts.html' %}

  <div class="flex items-center justify-between">
    <div>
      <h2 class="text-2xl font-medium mb-0.5">{{ user.email }} 
        <div
          class="inline-flex items-baseline rounded-full px-2.5 py-0.5 text-sm font-medium md:mt-2 lg:mt-0 {% if user.is_active %}bg-green-100 text-green-800{% else %}bg-red-100 text-red-800{% endif %}"
        >
          <span>
            {% if user.is_active %}Active{% else %}Inactive{% endif %}
          </span>
        </div>
      </h2> 
      <p class="text-muted-foreground text-sm">UUID: {{ user.uuid }}</p>
    </div>
    <a href="{% url 'admin_user_update' user.id %}"
      class="block rounded-md bg-blue-600 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
      Edit</a>
  </div>



  <div class="text-sm font-medium text-center text-muted-foreground border-b">
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
        <a href="{% url 'admin_user_data' user.id %}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg  hover:border-gray-300"
          aria-current="page">Overview</a>
      </li>
      <li class="me-2">
        <a href="#" class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active"
          aria-current="page">Billing</a>
      </li>
      <li class="me-2">
        <a href="#"
          class="inline-block p-4 border-b-2 border-transparent rounded-t-lg  hover:border-gray-300">Actions</a>
      </li>
    </ul>
  </div>

  <div>
    <div class="flex items-center justify-between mb-6">
      <h1 class="text-2xl font-medium">Billing history</h1>
      <div class="flex items-center gap-2">
        <div class="relative [&_input]:pl-8 [&_input]:max-w-[180px] [&_div]:mb-0">
          <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-muted-foreground dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <input name="query" hx-get="{% url 'admin_user_billing' user.pk %}" hx-trigger="keyup changed delay:500ms" hx-target="div.table-container" hx-swap="outerHTML" hx-indicator=".progress" type="text" class="search-input" placeholder="Search...">
        </div>
      </div>
    </div>
    {% render_table table %}
  </div>
</div>
{% endblock %}