[flake8]
ignore =  E501, W503, E203
exclude =
    .git,
    .venv,
    venv,
    scripts,
    admin.py,
    manage.py,
    migrations,
    __pycache__,
    webvirtcloud/settings,
max-line-length = 120
statistics = True
