{% extends "admin/base.html" %} 
{% block content %}
<div class="flex items-center justify-between mb-6">
  <h1 class="text-2xl font-medium">Floating IPs</h1>
</div>
<div class="">
  <div class="mt-8 flow-root">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        {% if floating_ips %}
        <div
          class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                >
                  #
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  ID
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  User
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  CIDR
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Virtance
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Created
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {% for floating_ip in floating_ips %}
              <tr>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ forloop.counter }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ floating_ip.id }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <a 
                    class="text-blue-600 hover:text-blue-900" 
                    href="{% url 'admin_user_data' floating_ip.user.id %}"
                    >{{ floating_ip.user.email }}</a
                  >
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ floating_ip.cidr }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {% if floating_ip.ipaddress.virtance %}
                  <a 
                    class="text-blue-600 hover:text-blue-900" 
                    href="{% url 'admin_virtance_data' floating_ip.ipaddress.virtance.id %}"
                    >{{ floating_ip.ipaddress.virtance.id }}</a
                  > 
                  {% else %}
                  Not assigned                   
                  {% endif %}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ floating_ip.created}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="bg-white border p-4 md:p-8 rounded-lg text-center">
          <h2 class="text-xl font-medium">No floating ips found</h2>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
