{% for message in messages %}
<div
  role="banner"
  class="rounded-md p-4 mb-4 {% if message.tags == 'error'%}bg-red-50 dark:bg-red-950/50{% else %}bg-green-50 dark:bg-green-950/50{% endif %}"
>
  <div class="flex">
    <div class="flex-shrink-0">
      <svg
        class="h-5 w-5 {% if message.tags == 'error'%}text-red-400{% else %}text-green-400{% endif %}"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="ml-3">
      <p
        class="text-sm {% if message.tags == 'error'%}text-red-700 dark:text-red-400{% else %}text-green-700 dark:text-green-400{% endif %}"
      >
        {{ message }}
      </p>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button onclick="this.closest('[role=banner]').remove()" type="button" class="inline-flex rounded-md p-1.5 focus:outline-none focus:ring-2 focus:ring-offset-2 {% if message.tags == 'error'%}bg-red-50 text-red-500 hover:bg-red-100 focus:ring-red-600 focus:ring-offset-red-50{% else %}bg-green-50 text-green-500 hover:bg-green-100 focus:ring-green-600 focus:ring-offset-green-50{% endif %}">
          <span class="sr-only">Dismiss</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
