{% extends "admin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="flex min-h-screen items-start justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-2xl space-y-4 bg-card p-4 md:p-8 rounded-lg border shadow-sm">
    <a href="{% url 'admin_compute_nwfilters' compute.id %}"
      class="inline-flex items-center text-sm p-2 bg-muted rounded-md space-x-2"><svg
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
      </svg>
      <span>Back to the list</span>
    </a>
    <div>
      <h2 class="text-2xl font-medium tracking-tight mb-4">
        NwFilter {{ nwfilter.name }}
      </h2>

      <code>
        <pre class="bg-muted/50 border rounded-lg overflow-auto p-4">{{ nwfilter.xml }}</pre>
      </code>

    </div>
  </div>
</div>
{% endblock %}