{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/svg+xml" href="{% static 'admin/svg/favicon.svg' %}" />
  <title>404 — WebVirtCloud</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
</head>

<body class="min-h-screen flex items-center justify-center">
  <div class="text-center">
    <img src="{% static 'admin/svg/logo.svg' %}" alt="Logo" class="w-12 h-12 mx-auto mb-8">
    <h1 class="font-semibold text-2xl mb-2">Page not found</h1>
    <p class="text-neutral-500 max-w-prose mx-auto mb-8">The page you're looking for doesn't exist or has been removed.
    </p>
    <a href="{% url 'index' %}"
      class="inline-flex items-center text-sm py-2 px-4 bg-gray-200 rounded-md space-x-2 hover:bg-gray-300">
      Go home
    </a>
  </div>
</body>

</html>