{% extends "admin/base.html" %} 
{% block content %}
<div class="flex items-center justify-between mb-6">
  <h1 class="text-2xl font-medium">Virtances Errors</h1>
</div>
<div class="">
  <div class="mt-8 flow-root">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        {% if virtances_errors %}
        <div
          class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6"
                >
                  #
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold"
                >
                  Virtance ID
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold"
                >
                  Event
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold"
                >
                  Message
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold"
                >
                  Created
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {% for error in virtances_errors %}
              <tr>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6"
                >
                  {{ forloop.counter }}
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <a 
                    class="text-blue-600 hover:text-blue-900" 
                    href="{% url 'admin_virtance_data' error.virtance.id %}"
                    >{{ error.virtance.id }}</a
                  >
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ error.event }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ error.message }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ error.created }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="bg-white border p-4 md:p-8 rounded-lg text-center">
          <h2 class="text-xl font-medium">No virtances errors found</h2>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
