{% extends "admin/compute/base.html" %} 
{% load static %} 
{% block computecontent %}
<main>
  <div class="overflow-hidden bg-white sm:rounded-lg sm:shadow mb-8">
    <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Overview</h3>
    </div>
    <div class="grid md:grid-cols-3">
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            Hostname
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ host_overview.host.hostname }}</div>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            Region
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ compute.region.name }}</div>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            URI
          </span>
        </div>
        <a href="{{ host_overview.host.connection }}" class="truncate text-sm font-medium text-blue-600">{{ host_overview.host.connection }}</a>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            CPU (Cores)
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ host_overview.host.processor }} x {{ host_overview.host.cpus }}</div>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            RAM
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ host_overview.host.memory|filesizeformat }}</div>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            Arch
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ host_overview.host.arch }}</div>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            CPU Usage
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ host_overview.cpu.usage }}%</div>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            RAM Usage
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ host_overview.memory.usage|filesizeformat }}</div>
      </div>
    </div>
  </div>
  
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-medium">Virtances</h1>
  </div>
  {% if virtances %}
  <div
    class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg"
  >
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th
            scope="col"
            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
          >
            ID
          </th>
          <th
            scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            User
          </th>
          <th
            scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            Size
          </th>
          <th
            scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            Region
          </th>
          <th
            scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            Compute
          </th>
          <th
            scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            Status
          </th>
          <th
            scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            Locked
          </th>
          <th
            scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
          >
            Created
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        {% for virtance in virtances %}
        <tr>
          <td
            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
          >
            <a 
              class="text-blue-600 hover:text-blue-900" 
              href="{% url 'admin_virtance_data' virtance.id %}"
              >{{ virtance.id }}</a
            >
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            {{ virtance.user.email }}
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            {{ virtance.size.name }}
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            {{ virtance.region.name }}
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            {% if virtance.compute %}
              {{ virtance.compute.name }}
            {% endif %}
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            {{ virtance.status|capfirst }} {% if virtance.event %}({{ virtance.event|capfirst }}){% endif %}
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            {{ virtance.is_locked }}
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
            {{ virtance.created}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="bg-white border p-4 md:p-8 rounded-lg text-center">
    <h2 class="text-xl font-medium">No virtances found</h2>
  </div>
  {% endif %}
</main>
{% endblock %}
