{% extends "admin/compute/base.html" %} 
{% load static %} 
{% block computecontent %}
<main>
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-medium mb-4">Storages</h1>
    <div class="flex items-center space-x-2">
      <a
        href="{% url 'admin_compute_storage_dir_create' compute.id %}"
        class="block rounded-md bg-blue-600 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
        >Add DIR Storage</a
      >
      <a
        href="{% url 'admin_compute_storage_rbd_create' compute.id %}"
        class="block rounded-md bg-blue-600 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
        >Add RBD Storage</a
      >
    </div>
  </div>
  {% if storages %}
    <div
      class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg"
    >
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6"
            >
              Name
            </th>
            <th
              scope="col"
              class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6"
            >
              Type
            </th>
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold"
            >
              Size
            </th>
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold"
            >
              Active
            </th>
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold"
            >
              Volumes
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          {% for storage in storages %}
          <tr>
            <td
              class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6"
            >
              <a 
                href="{% url 'admin_compute_storage' compute.id storage.name %}" 
                class="font-medium text-blue-600">{{ storage.name }}</a
              >
            </td>
            <td
              class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6"
            >
              {{ storage.type|upper }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-muted-foreground">
              {{ storage.size|filesizeformat }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-muted-foreground">
              {{ storage.active }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-muted-foreground">
              {{ storage.volumes}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="bg-white border p-4 md:p-8 rounded-lg text-center">
      <h2 class="text-xl font-medium">No storages</h2>
    </div>
  {% endif %}

</main>
{% endblock %}
