{% extends "admin/compute/base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block computecontent %}
<main>
  <a
    href="{% url 'admin_compute_storages' compute.id %}"
    class="inline-flex items-center text-sm p-2 bg-gray-100 rounded-md space-x-2 hover:bg-gray-200 mb-4"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-5 h-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
      />
    </svg>
    <span>Back to the list</span>
  </a>
  <div class="overflow-hidden bg-white sm:rounded-lg sm:shadow mb-8">
    <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Storage</h3>
    </div>
    <div class="grid md:grid-cols-3">
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            Name
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ storage_pool.name }}</div>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            Active
          </span>
        </div>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="action" value="{% if storage_pool.active is True %}stop{% else %}start{% endif %}" />
            {% if storage_pool.active is True %}
              <input class="text-red-600 hover:text-red-900" type="submit" value="Stop" />
            {% else %}
              <input class="text-green-600 hover:text-green-900" type="submit" value="Start" />
            {% endif %}
          </button>
        </form>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            Type
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ storage_pool.type|upper }}</div>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            Size (Total / Usage)
          </span>
        </div>
        <div class="truncate text-sm font-medium">{{ storage_pool.size.total|filesizeformat }} / {{ storage_pool.size.used|filesizeformat }}</div>
      </div>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center text-sm text-gray-500 mb-1">
          <span class="font-medium">
            Autostart
          </span>
        </div>
        <form method="post">
          {% csrf_token %}
          {% if storage_pool.autostart is True %}
            <input type="hidden" name="action" value="manualstart" />
          {% else %}
            <input type="hidden" name="action" value="autostart" />
          {% endif %}
          <label 
            class="flex items-center space-x-2" 
          >
            <input 
              type="checkbox" 
              onchange="this.form.submit()"
              {% if storage_pool.autostart is True %}
                checked
              {% endif %}
              "
            />
            <span class="font-medium
            ">On Boot</span>
          </label>
        </form>
      </div>
      <div class="px-4 py-4 sm:px-6">
        {% if storage_pool.active is True %}
          <div class="flex items-center text-sm text-gray-500 mb-1">
            <span class="font-medium">
              Path
            </span>
          </div>
          <div class="truncate text-sm font-medium">{{ storage_pool.path }}</div>
        {% else %}
          <a
            href="{% url 'admin_compute_storage_delete' compute.id storage_pool.name %}"
            class="text-red-600 hover:text-red-900"
            onclick="return confirm('Are you sure you would like to deelete this pool?');"
            >Delete</a
          >
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-medium">Volumes</h1>
    <a
      href="{% url 'admin_compute_storage_volume_create' compute.id storage_pool.name %}"
      class="block rounded-md bg-blue-600 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
      >Add Volume</a
    >
  </div>
  {% if storage_pool.volumes %}
    <div
      class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg"
    >
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
            >
              Name
            </th>
            <th
              scope="col"
              class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
            >
              Size
            </th>
            <th
              scope="col"
              class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
            >
              Type
            </th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          {% for volume in storage_pool.volumes %}
          <tr>
            <td
              class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
            >
              {{ volume.name }}
            </td>
            <td
              class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
            >
              {{ volume.size|filesizeformat }}
            </td>
            <td
              class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
            >
              {{ volume.type|upper }}
            </td>
            <td
              class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 space-x-2"
            >
              {% if 'raw' == volume.type or 'qcow' == volume.type or 'qcow2' == volume.type %}
              <a
                href="{% url 'admin_compute_storage_volume_resize' compute.id storage_pool.name volume.name %}"
                class="text-blue-600 hover:text-blue-900"
                >Resize</a
              >
              <a
                href="{% url 'admin_compute_storage_volume_clone' compute.id storage_pool.name volume.name %}"
                class="text-blue-600 hover:text-blue-900"
                >Clone</a
              >
              {% endif %}
              <a
                href="{% url 'admin_compute_storage_volume_delete' compute.id storage_pool.name volume.name %}"
                class="text-red-600 hover:text-red-900"
                onclick="return confirm('Are you sure you would like to deelete this volume?');"
                >Delete</a
              >
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="bg-white border p-4 md:p-8 rounded-lg text-center">
      <h2 class="text-xl font-medium">No volumes</h2>
    </div>
  {% endif %}
</main>
{% endblock %}